<div class="container">

  <header>
    <h1> Products</h1>
  </header>

  <div class="container top">
    <button mat-button [routerLink]="'/products/add'" [disabled]="!userRole || userRole !== 'admin'">
      <mat-icon>add</mat-icon>
      Add a new category
    </button>
  </div>

    <div class="cards" >
      <mat-card class="product-card" *ngFor="let product of dataSource">
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="product.imageUrl" alt="Imagem do Produto">
        <mat-card-content>
          <p>Preço: {{product.price | currency: 'BRL'}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" [routerLink]="'/products/details/'+ product.productId" >Details</button>
        </mat-card-actions>
      </mat-card>
    </div>



  <div>
    <mat-paginator
      (page)="pageChanged($event)"
      [length]="dataCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page">
    </mat-paginator>
  </div>


