.title {
  margin-top: 5.5rem;
  margin-left: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

.mat-sidenav-content {
  height: 100%;
  overflow-y: hidden;
}

input, textarea {
  margin-top: 0;
  padding: 8px 5px 8px 5px;
  border-radius: 5px;
}

button {
  width: 10%;
  padding: 16px;;
  margin-left: 1rem;
  background-color: rgb(217, 217, 250);
}

.add-products-actions {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: space-evenly;
}
